<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Turmas</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="<%=classrooms_sync_path%>">Sincronizar</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Código i-Educar</th>
              <th>Nome</th>
              <th>Hora inicial</th>
              <th>Hora final</th>
              <th>Início intervalo</th>
              <th>Fim intervalo</th>
            </tr>
          </thead>
          <tbody>
            <% @classes.each do |classroom| %>
            <tr class='clickable-row' data-href='<%= classroom_path(classroom.id) %>'>
              <th scope="row"><%= classroom.id %></th>
              <td><%= classroom.ieducar_code %></td>
              <td><%= classroom.name %></td>
              <td><%= classroom.start_at_humanize %></td>
              <td><%= classroom.stop_at_humanize %></td>
              <td><%= classroom.interval_start_humanize %></td>
              <td><%= classroom.interval_stop_humanize %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
