<div class="row">

  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Detalhes da turma</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
        <form class="form-horizontal form-label-left">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Código i-Educar</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control" disabled="disabled" value="<%= @classroom.ieducar_code %>">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Ano</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control" disabled="disabled" value="<%= @classroom.year %>">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Escola</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control" disabled="disabled" value="<%= @classroom.school.name %>">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Curso</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control" disabled="disabled" value="<%= @classroom.course.name %>">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Série</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control" disabled="disabled" value="<%= @classroom.serie.name %>">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Turma</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control" disabled="disabled" value="<%= @classroom.name %>">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Horário inicial</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control" disabled="disabled" value="<%= @classroom.start_at_humanize %>">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Horário final</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control" disabled="disabled" value="<%= @classroom.stop_at_humanize %>">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Início intervalo</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control" disabled="disabled" value="<%= @classroom.interval_start_humanize %>">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Fim intervalo</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control" disabled="disabled" value="<%= @classroom.interval_stop_humanize %>">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Disciplinas da turma</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Código i-Educar</th>
              <th>Nome</th>
              <th>Carga horária</th>
            </tr>
          </thead>
          <tbody>
            <% @classroom.classroom_disciplines.each do |classroom_discipline| %>
            <tr>
              <td><%= classroom_discipline.discipline.ieducar_code %></td>
              <td><%= classroom_discipline.discipline.name %></td>
              <td><%= classroom_discipline.course_load %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>