<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Séries</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="<%=series_sync_path%>">Sincronizar</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Código i-Educar</th>
              <th>Nome</th>
              <th>Carga horária</th>
              <th>Dias letivos</th>
              <th>Qtde intervalos</th>
            </tr>
          </thead>
          <tbody>
            <% @series.each do |serie| %>
            <tr>
              <th scope="row"><%= serie.id %></th>
              <td><%= serie.ieducar_code %></td>
              <td><%= serie.name %></td>
              <td><%= serie.course_load %></td>
              <td><%= serie.school_days %></td>
              <td><%= serie.interval %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>