<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag 'ant-ico.png' %>

    <title>Ants For Education</title>

  </head>

  <body class="nav-md" cz-shortcut-listen="true">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><span>Ants For Education</span></a>
            </div>

            <div class="clearfix"></div>

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>Quadro de horários</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-edit"></i> Cadastro <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="<%=schools_path%>">Escola</a></li>
                      <li><a href="<%=courses_index_path%>">Curso</a></li>
                      <li><a href="<%=series_index_path%>">Série</a></li>
                      <li><a href="<%=classrooms_path%>">Turma</a></li>
                      <li><a href="<%=teachers_path%>">Professor</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-table"></i> Quadro de horários <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="<%=edit_class_schedule_path(1)%>">Horários de aula</a></li>
                      <li><a href="<%=board_generator_index_path%>">Gerar quadro de horários</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-gear"></i> Configurações <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="<%=edit_ieducar_configuration_path(1)%>">i-Educar</a></li>
                      <!-- <li><a href="<%=sync_index_path%>">Sincronização</a></li> -->
                    </ul>
                  </li>
                </ul>
                </div>
              </div>
              <div class="sidebar-footer hidden-small">
                <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Settings">
                  <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="" data-original-title="FullScreen">
                  <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Lock">
                  <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Logout">
                  <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <%= current_user.email %>
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><%= link_to "Sair", destroy_user_session_path, :method => :delete %></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <%= yield %>
          </div>
        </div>
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>